extends layout.pug

block content
  h2 Control Panel
  .row
    .col-sm-12.col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-body
          h1
            i.fa.fa-wifi
            | Network
          table.table.table-striped
            tbody
              tr
                td SSID
                td KC2REO
              tr
                td Hostname
                td
                  a(href="/") switch-ffffff
              tr
                td IP
                td
                  a(href="/") 10.0.0.0

          button.btn.btn-primary.pull-right(type="button")
            i.fa.fa-repeat
            | Restart

    .col-sm-12.col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-body
          h1
            i.fa.fa-cog
            | Settings
          form
            .form-group
              label(for="_description") Description
              input#_description.form-control(type="text", placeholder="Switch Bits")

            .form-group
              label(for="_callback") Callback URL
              input#_callback.form-control(type="text", placeholder="http://example.local/callback")

            .form-group
              label Auto On
              .checkbox.checkbox-primary
                input#_autoOn(type="checkbox")
                label(for="_autoOn") Enabled

            button.btn.btn-primary.pull-right(type="submit")
              i.fa.fa-save
              | Save

    .col-sm-12.col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-body
          h1
            i.fa.fa-upload
            | Update

          .alert.alert-danger(role="alert")
            strong Be careful!
            |  If an update goes bad, you'll have to reflash this device manually over serial.

          form(method="POST", action="/update", enctype="multipart/form-data")
            .form-group
              label(for="_firmware", style="display:block") Update Firmware
              input#_firmware.form-control(type="file", name="update", style="width:calc(100% - 191px)")
              button.btn.btn-primary.pull-right(type="submit")
                i.fa.fa-upload
                | Update Firmware
              p.help-block
                | e.g. switchbits.cpp.generic.bin

          hr(style="clear:both; border-color:#ddd")

          form(method="POST", action="/updatespiffs", enctype="multipart/form-data")
            .form-group
              label(for="_spiffs", style="display:block") Update SPIFFS
              input#_spiffs.form-control(type="file", name="update", style="width:calc(100% - 169px)")
              button.btn.btn-primary.pull-right(type="submit")
                i.fa.fa-upload
                | Update SPIFFS
              p.help-block
                | e.g. switchbits.spiffs.bin

    .col-sm-12.col-md-6.col-md-offset-3
       .panel.panel-default
         .panel-body
           h1
             i.fa.fa-microchip
             | Reset Device

           .alert.alert-danger(role="alert")
             strong Heads Up!
             |  Resetting your device will erase stuff.

           ul
             li Forget WiFi SSID and password
             li Remove description
             li Disable Auto On
             li TODO Remove callback

           button.btn.btn-danger.pull-right(type="button")
             i.fa.fa-exclamation-triangle
             | Reset


block scripts
  script(src="./config.js")