extends layout.pug

block content
  h2#description &nbsp;
  .row
    .col-xs-12
      .switch
        input#button.bub(type="checkbox", disabled)
        label(for="button")
          i.fa.fa-power-off

  h1#state
    i.state-led
    | ---
