doctype html
html
  head
    title Switch Bits
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#3F51B5")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700") 
    link(rel="stylesheet", href="https://use.fontawesome.com/e2f6fc7da8.css")
    link(rel="stylesheet" href="./bootstrap.min.css")
    link(rel="icon" sizes="192x192" href="./outlet-192.png")
    link(rel="apple-touch-icon" href="./outlet-60.png")
    link(rel="apple-touch-icon" sizes="76x76" href="./outlet-76.png")
    link(rel="apple-touch-icon" sizes="120x120" href="./outlet-120.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./outlet-152.png")
  body
    #wrapper
      // navbar
      nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container-fluid
          .navbar-header.pull-left
            span.navbar-brand
              i#plug.fa.fa-plug.p100
            a.navbar-brand(href="/")
              | Switch Bits
          .ws-status.pull-right.p100
            span#wsDisconnected
              i.fa.fa-exclamation-triangle.a200
              | Disconnected 
            span#wsConnecting(style="display:none")
              i.fa.fa-refresh.fa-spin.p100
              | Connecting...
            span#wsConnected(style="display:none")
              i.fa.fa-check.p100
              | Connected 
            a(href="/config", title="Settings", style="margin-left:20px")
              i.fa.fa-wrench

      #content
        .container-fluid
          .row
            .col-xs-12
              block content

    block scripts
      script(src="./index.js")