//= Material Design Color Helper Classes

.p50 { color: @p50 }
.p100 { color: @p100 }
.p200 { color: @p200 }
.p300 { color: @p300 }
.p400 { color: @p400 }
.p500 { color: @p500 }
.p600 { color: @p600 }
.p700 { color: @p700 }
.p800 { color: @p800 }
.p900 { color: @p900 }

.a100 { color: @a100 }
.a200 { color: @a200 }
.a300 { color: @a300 }
.a700 { color: @a700 }

.g50 { color: @g50 }
.g100 { color: @g100 }
.g200 { color: @g200 }
.g300 { color: @g300 }
.g400 { color: @g400 }
.g500 { color: @g500 }
.g600 { color: @g600 }
.g700 { color: @g700 }
.g800 { color: @g800 }
.g900 { color: @g900 }

//= Global Variables
@bub-diameter: 180px;

//= General Styles
nav.navbar {
  a {
    color: @navbar-default-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }
  .navbar-header {
    .navbar-brand + .navbar-brand {
      padding-left: 0;
      margin-left: 0;
    }
  }
  .ws-status span i {
    padding-right: 5px;
  }
}

#content {
  // offset navbar
  margin-top: @navbar-height;
  text-align: center;
}

#state {
  width: @bub-diameter;
  margin: 22px auto 11px auto;
}

.state-led {
  // margin-left offset LED when centering text
  margin: 0 20px 3px calc(-.4em - 20px);
  width: .4em;
  height: .4em;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: @g200;
  box-shadow: @g900 0 0 1px 1px, inset @g800 0 -1px 3px, @g700 0 2px 7px;
  &.on {
    background-color: @a200;
    box-shadow: @a700 0 0 3px 1px, inset @a300 0 -1px 2px, @a200 0 2px 10px;
  }
}

footer {
  text-align: center;
  position: fixed;
  bottom: 4px;
  width: 100%;
  cursor: default;
}

.bub(@bg-color, @color) {
  color: @color;
  background-color: @bg-color;
  box-shadow:
    0 0 0 1px @bg-color inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 darken(@bg-color, 10%),
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
  &:hover, &:focus {
    background-color: saturate(@bg-color, 10%);
    box-shadow: 
      0 0 0 1px @bg-color inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset,
      0 10px 0 0 darken(@bg-color, 10%),
      0 10px 0 1px rgba(0, 0, 0, 0.4),
      0 10px 8px 1px rgba(0, 0, 0, 0.6);
      top: -2px;
  }
  &:active {
    box-shadow: 
      0 0 0 1px darken(@bg-color, 10%) inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset,
      0 0 0 1px rgba(0, 0, 0, 0.4);
    transform: translateY(10px);      
  }
}

.switch {
  .bub {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    &[disabled] + label {
      // gray bub
      .bub(@g200, @g700);

      // mimic active state
      box-shadow: 
        0 0 0 1px darken(@g200, 10%) inset,
        0 0 0 2px rgba(255, 255, 255, 0.15) inset,
        0 0 0 1px rgba(0, 0, 0, 0.4);
      transform: translateY(10px);
      
      // override hover and active states
      &:hover, &:focus {
        background-color: @g200;
        box-shadow: 
          0 0 0 1px darken(@g200, 10%) inset,
          0 0 0 2px rgba(255, 255, 255, 0.15) inset,
          0 0 0 1px rgba(0, 0, 0, 0.4);
        transform: translateY(10px);
        top: 0;   
      }

      // disabled cursor
      cursor: not-allowed;
    }
    & + label {
      display: inline-block;
      position: relative;
      cursor: pointer;

      // button styles
      width: @bub-diameter;
      height: @bub-diameter;
      line-height: @bub-diameter;
      border-radius: (@bub-diameter / 2);
      font-size: (@bub-diameter / 2);
      text-align: center;
      transition: all 0.15s;
      top: 0;
      .bub(@a200, @a700);
    }
    &:checked + label {
      .bub(@a700, @a200);
    }
  }
}

.panel {
  .panel-body {
    text-align: left;
    h1 {
      margin-top: 0;
      padding-bottom: 11px;
      border-bottom: 1px solid @panel-default-border;
      i.fa {
        margin-right: 10px;
        color: @brand-primary;
      }
    }
    form {
      clear: both;
      input[type="file"] {
        display: inline-block;
      }
    }
    button {
      i.fa {
        margin-right: 6px;
      }
    }
  }
}